body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}
header {
    width: 150px;              /* Размер фото (можно менять) */
    height: 150px;             /* Чтобы было квадратным */
    object-fit: cover;         /* Чтобы фото не сплющивалось, а аккуратно вписывалось в квадрат */
    border-radius: 50%;        /* Делает фото круглым (50% от размера) */
    border: 4px solid #ffffff; /* Белая рамка толщиной 4px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Лёгкая тень для объёма */
    display: block;            /* Убирает лишние отступы снизу */
    margin: 0 auto 20px auto;
    <meta property="og:title" content="Максим | Разработчик">
    <meta property="og:description" content="Делаю сайты, люблю C++ и GitHub">
    <meta property="og:image" content="https://maksimko-00.github.io/Maksimkos.github.io/photo.jpg">

}
section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: inline-block;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
h1, h2 { color: #2c3e50; }
ul { list-style-type: none; padding: 0; }
li { margin: 10px 0; }
